.iphone-wrapper{
  height:600px;
  width:350px;
  background-color: #4C4F53;
  border:1px solid black;
}
.icon-wrapper{
  color: #A4A6A8;
  display: inline-block;  
  margin-top: 25px;
  position: relative; 
  font-size: 20px;
  display: flex;
   
}
.icon-wrapper > i:first-child{
  padding-left: 20px;
 
}
.icon-wrapper > i:nth-child(2){
 
  padding-left: 270px;
}
.counter {
  font-size: 90px;
  letter-spacing: 1px;
}
h1{
    color: #D4D7D7;
    text-align:center;
  }

.button-row{
    color: #D4D7D7;
    display:flex;
    justify-content:center;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
#five-min {
  margin-top: 60px;
}
.square {
  margin-top: 160px;
}