.calendarHeader {
    background-color: #6F7275;
    color: white;
    width: 440px;
    height: 78px;
    font-size: 30px;
    display: flex;
    padding: 10px 10px;
    align-items: center;
    justify-content: space-around;
}
